<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947524412483-bpe9a02h95n9g29h66c47dlm555lqtkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947524412483-bpe9a02h95n9g29h66c47dlm555lqtkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDTKABZ7tT9ivmgZRIkdXQnftkj5nnGKPY</string>
	<key>GCM_SENDER_ID</key>
	<string>947524412483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.Training-Management-System</string>
	<key>PROJECT_ID</key>
	<string>training-management-syst-a67c0</string>
	<key>STORAGE_BUCKET</key>
	<string>training-management-syst-a67c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947524412483:ios:dceea4cdcede8121</string>
	<key>DATABASE_URL</key>
	<string>https://training-management-syst-a67c0.firebaseio.com</string>
</dict>
</plist>